{% extends "::base.html.twig" %}
{% block body %}
<script type="text/javascript" src="{{ asset('bundles/alidatatable/js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/alidatatable/js/jquery.datatable.inc.js') }}"></script>      
<script type="text/javascript" src="{{ asset('bundles/alidatatable/js/jquery.dataTables.js') }}"></script>         
<script type="text/javascript" src="{{ asset('bundles/alidatatable/media/js/TableTools.js') }}"></script>   
<script type="text/javascript" src="{{ asset('bundles/alidatatable/media/js/ZeroClipboard.js') }}"></script> 
<script type="text/javascript" src="{{ asset('bundles/alidatatable/media/js/FixedHeader.js') }}"></script>
<link href="{{ asset('bundles/alidatatable/css/demo_table.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('bundles/alidatatable/css/demo_page.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('bundles/alidatatable/css/smoothness/jquery-ui-1.8.4.custom.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('bundles/alidatatable/media/css/TableTools.css') }}" type="text/css" rel="stylesheet" /> 

<h2>Statistiques de l'année en cours</h2>
{{ datatable({ 
            'id' : 'statsCommerce',
            'js' : 
                {
                    'sDom': "T<'clear'>lrtip",
                    "oTableTools": {"sSwfPath": '../bundles/alidatatable/media/swf/copy_csv_xls_pdf.swf'},
                    'sAjaxSource' : path('Statistiques_grid'),
                    "oLanguage": {
                        "oPaginate": {
                        "sFirst": "Premier",
                        "sPrevious": "Précédent", 
                        "sNext": "Suivant",
                        "sLast": "Dernier" ,                        
                        },
                        "no_action": "-",
                        "sProcessing": "Traitement en cours...",
                        "sLengthMenu": "Afficher _MENU_ éléments",
                        "sZeroRecords": "Aucun élément à afficher",
                        "sInfo": "Affichage des clients _START_ à _END_ sur _TOTAL_ clients",
                        "sInfoEmpty": "Affichage de l'élement 0 à 0 sur 0 éléments",
                        "sInfoFiltered": "(filtré de _MAX_ éléments au total)",
                        "sInfoPostFix": "",
                        "sLoadingRecords": "Téléchargement...",
                        "sSearch": "Recherche",
                        "search": "Recherche"
                    },
                    "bJQueryUI": true,
                    "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    "bPaginate": false, 
                    "sServerMethod": "POST"
                }
            })
}} 

<!-- Fixe le HAUT du tableau par rapport au menu , pour pas que les deux se chevauchent-->



{% endblock %}